<div class="card col m-2 p-2 text-bg-light text-center">
    <b><%= link_to buffet.brand_name, buffet_path(buffet), class: 'link-underline link-underline-opacity-0' %></b>
    <%= buffet.city %>
    <%= buffet.state %>
</div>