<% if @buffet.errors.any? %>
    <div class="border-top border-bottom p-3 my-3">
        <p>Verifique os erros abaixo: </p>
        <ul>
            <% @buffet.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>    
    </div>
<% end %>

