<h2>Bem-vindo</h2>
<%= link_to "Entrar como cliente", new_user_session_path , class: 'b-3 btn btn-primary' %>
<%= link_to "Entrar como administrador", new_admin_session_path , class: 'b-3 btn btn-primary' %>