<h1 class="border-bottom mt-4">Buffets cadastrados em nossa plataforma</h1>
<div class="row row-cols-4 justify-content-center">
    <% @buffets.each do |buffet| %>
        <%= render buffet %>
    <% end %>
</div>